body {
  margin: 0;

  }

/****************   Nav Section **********************/
nav {
  display: flex;
  background-color: #FF0000;
  color: #FFFFFF;
  justify-content: space-between;



}

/***********************  Footer Section   **************************/
footer {
  display: flex;
  background-color: #00FFFF;
  color: #000000;
	justify-content: center;
}

/*********** Splash Page ************************/
header {
  background-color: #1f7ad6;

}

.bungee-regular {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}


header h1 {
  color: #ffffff
  
}

header img {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.address {
  font-size: 12px;
}

.tagline {
  font-weight: 1000;

}

/************* Sections ********************/
.oswald-font {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
hr {

}

section h3 {
  color: #6853dd
}

section dl {
  display: grid;
  
}

section ul {
  font-weight: 750;

}

section a {
  color:#009dff;
  text-decoration: none;

}

section a:hover {
  color:#014c7a;
}

/**************   Projects   *****************/
.three-col {
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 1fr 1fr;
}

.card img {
  width:110px;

}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  display: grid;
  place-items: center;
  
}

/**************   Responsiveness   *****************/
@media (max-width: 680px) {
    nav {
      display: flex;
      flex-direction: column;
    }

    .three-col {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 5px;
      place-items: center;

      
    }
}

/**************   Contact Page   *****************/
.one-col {
  display: grid;
  grid-template-columns: 1fr;

}

input {
  font-weight: 750;
}

textarea {
  font-weight: 1000;
   
}
